* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: $gray-dark;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-size: 16px;
  padding: 20px 45px;
  color: $gray-dark;
  background-color: transparent;
  border-radius: 10px;
  line-height: normal;
  transition: all 0.2s linear;
  &--primary {
    color: #fff;
    background-color: $primary-color;
  }
  &--outline {
    border: 1px solid $gray-blur;
  }
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 85px;

  &-caption {
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
  }

  &-caption::before {
    left: 0;
    transform: translate(-100%, -50%);
  }

  &-caption::after {
    right: 0;
    transform: translate(100%, -50%);
  }

  &-caption::before,
  &-caption::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: $primary-color;
    top: 50%;
  }

  &-caption--left {
    padding-left: 40px;
    margin-bottom: 30px;
  }

  &-caption--left::before {
    transform: none;
  }

  &-caption--left::after {
    display: none;
  }

  &-heading {
    font-size: 50px;
    line-height: 1.4;
    font-weight: 600;

    span {
      display: block;
    }
  }
}

.text {
  font-weight: 300;
  color: $gray;
  line-height: 1.6;
}

.text--dark {
  color: $gray-dark;
}

.logo {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 10px 20px;
  }
  .block {
    margin-bottom: 50px;

    &-heading {
      font-size: 35px;
    }

    &-caption {
      margin-bottom: 20px;
    }
  }
}
